<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031401823307-a8f1u2nlgd5a26fc1m3uk6vk009nv4kq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031401823307-a8f1u2nlgd5a26fc1m3uk6vk009nv4kq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1031401823307-ihbp4ionvp17k9td993eld9cmd0ba210.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVpVxz4UvY9yA8Kk9hVGKS9GzTz6xEMvE</string>
	<key>GCM_SENDER_ID</key>
	<string>1031401823307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tannerellason.nukemyinbox</string>
	<key>PROJECT_ID</key>
	<string>nuke-my-inbox</string>
	<key>STORAGE_BUCKET</key>
	<string>nuke-my-inbox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031401823307:ios:91dd2c0505d6e3747581ce</string>
</dict>
</plist>